_*.yml
!client/**/bin
.gen
.idea
.mono
.oldgen
.started
.turbo
.vs
*.connectionstring.yml
*.documentation.xml*
*.hash
*.log
*.modified
*.nupkg
*.postgre_azure.yml
*.tenant-management.yml
*.user
**/businessAssembly/build/*.gen.props
**/businessAssembly/build/*.runsettings
**/businessAssembly/*/*.xml
**/UIProject/build/*.gen.props
**/UIProject/build/GlobalUsings.cs
appsettings.Development.json
bin
check-metadata.*.txt
configuration.*.yml
coverage
desktop.ini
dist
Dll
helm/_*.yaml
node_modules
obj
package-lock-installed.json
tenantsDataOld
TestResults

client/
server/
modules/dependencies/